/* Header */
.trang-lch-s-mn-tr .group-19 {
    width: 190px;
}
.trang-lch-s-mn-tr .group-23 {
    width: 94px;
}
.trang-lch-s-mn-tr .text-wrapper-44 {
    width: 114px;
}
/* Body */
.trang-lch-s-mn-tr .text-wrapper-con-han {
    color: #007e07;
    left: 730px;
}
.trang-lch-s-mn-tr .text-wrapper-con-han {
    left: 730px;
}
.trang-lch-s-mn-tr .rectangle-con-han {
    left: 714px;
    width: 158px;
}
.trang-lch-s-mn-tr .rectangle-qua-han {
    width: 205px;
    left: 670px;
    background-color: #ffdddd;
}
.trang-lch-s-mn-tr .text-wrapper-qua-han {
    left: 692px;
    color: #9d0000;
}
.trang-lch-s-mn-tr .text-wrapper-dang-cho {
    color: white;
}
.trang-lch-s-mn-tr .rectangle-23 {
    background: linear-gradient(90deg, #5141FF, #B951FE, #F82FFF);
}
.trang-lch-s-mn-tr .rectangle-23:hover {
    background: linear-gradient(90deg, #412fff, #ad32ff, #f700ff);
}
.trang-lch-s-mn-tr .iconstack-io-book-2 {
    left: 22px;
}
.trang-lch-s-mn-tr .iconstack-io {
    left: 25px;
}

