/* Body */
/* Start: dòng 139 */
.trang-lch-s-mn-tr .group-8:hover {
  cursor: pointer;
}
.trang-lch-s-mn-tr .rectangle-17,
.trang-lch-s-mn-tr .rectangle-31 {
  position: absolute;
  top: 0;
  left: 0;
  height: 39px;
  border-radius: 14px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(226, 226, 226, 1) 87%
  );
}
.trang-lch-s-mn-tr .group-8:hover .rectangle-15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 101px;
  height: 39px;
  border-radius: 14px;
  background: linear-gradient(
    90deg,
    rgba(81, 65, 255, 1) 0%,
    rgba(185, 81, 254, 1) 62%,
    rgba(248, 47, 255, 1) 100%
  );
}
.trang-lch-s-mn-tr .group-9:hover .rectangle-16 {
  cursor: pointer;
  background: linear-gradient(90deg, rgb(141 255 133) 0%, rgb(0 112 23) 87%);
}
.trang-lch-s-mn-tr .group-10 .rectangle-17 {
  cursor: pointer;
  background: linear-gradient(90deg, rgb(171 220 255) 0%, rgb(0 54 196) 87%);
}
.trang-lch-s-mn-tr .group-11:hover .rectangle-31 {
  cursor: pointer;
  background: linear-gradient(90deg, rgb(255 167 167) 0%, rgb(191 0 0) 87%);
}
.trang-lch-s-mn-tr .group-8:hover .text-wrapper-31 {
    color: white;
    cursor: pointer;
}
.trang-lch-s-mn-tr .group-9:hover .text-wrapper-32 {
  cursor: pointer;
  color: white;
}
.trang-lch-s-mn-tr .group-10 .text-wrapper-33 {
  cursor: pointer;
  color: white;
}
.trang-lch-s-mn-tr .group-11:hover .text-wrapper-34 {
  cursor: pointer;
  color: white;
}
