.trang-pht .rectangle-da-thanh-toan {
    height: auto;
    width: 600px;
    height: 350px;
    background-color: white;
    border-radius: 14px;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(127, 127, 127, 0.25);
    margin-top: 50px;
    gap: 15px;
}
.trang-pht .img-da-thanh-toan {
    width: 80px;
    height: auto;
}
.trang-pht .text-da-thanh-toan,
.trang-pht .ghi-chu-da-thanh-toan,
.trang-pht .text-xem-ls,
.trang-pht .text-ve-trang-chu {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
} 
.trang-pht .text-da-thanh-toan {
    font-weight: bold;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.trang-pht .ghi-chu-da-thanh-toan {
    font-size: 16px;
    color: rgb(178, 178, 178);
    text-align: center;
    line-height: 15px;
    margin-bottom: 10px;
}
.trang-pht .rectangle-xem-lich-su-thanh-toan,
.trang-pht .ve-trang-chu {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.trang-pht .rectangle-xem-lich-su-thanh-toan {
    background-color: #7A4EF3;
    margin-bottom: 8px;
}
.trang-pht .rectangle-xem-lich-su-thanh-toan:hover {
    background-color: #6731fc;
    cursor: pointer;
}
.trang-pht .text-xem-ls {
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.trang-pht .ve-trang-chu {
    background-color: #d2d2d2;
}
.trang-pht .ve-trang-chu:hover {
    background-color: #b8b8b8;
    cursor: pointer;
}
.trang-pht .text-ve-trang-chu {
    font-size: 18px;
    font-weight: bold;
    color: black;
}   
                    
                        
                    